body{
	margin: 100px;
	font-family: Arial, sans-serif;
}

.presborder {
  border: 1px solid #93DDFF;
  border-radius: 5px;
  background: Lightskyblue;
  margin: -100px;
  padding: 70px
}

img{
	vertical-align: middle;
	opacity: 1;
}

.presimage{
	opacity: 1;
	border-radius: 50%;
	padding-right: 10px;
	float:left;
}

h1 {
	color: #1E4C7C;
	font-size: 27px;
	font-family: Arial, serif;
}

h2 {
	color: #1E4C7C;
	font-size: 19px;
	font-family: Arial, serif;
}

p{
	font-size: 15px;
	opacity: 1;
}

a{
	color: #1E4C7C;
	text-decoration: none;
}


.abstract{
	font-style: italic;
	color:SteelBlue;
	font-size: 13px;
	opacity: 0.7;
}

.grayback{
	background-color:lightgrey;
}
/*
.toggle-trigger {

    padding: 1px;
    background: white;
	font-family: Arial, serif;
	padding-bottom: 1px;
	margin: 0;
	cursor: pointer;
	color:#fa625f;
}

.toggle-trigger:hover {
	border-bottom: 1px #fa625f dotted;
	margin-bottom: -2px;
}

.toggle-wrap {
    padding: 1px;
    display: none;
    background: white;
	font-family: Arial, serif;
	padding-bottom: 8px;
	margin: 0;
}

*/

